torch
accelerate
transformers>=4.49.0
protobuf
numpy
tqdm
requests
matplotlib
pillow
ipython
seaborn
diffusers
sentencepiece

# VLM Quality Assessment Dependencies
qwen-vl-utils[decord]
flash-attn>=2.0.0
einops
timm
